.btn {
  display: inline-flex;
  align-items: center;
  padding: .375rem .75rem;
  color: #fff;
  font-size: 1rem;
  word-wrap: normal;
  background-color: #343a40;
  border: none;
  outline: none;
  border-radius: .25rem;

  &:focus, &:hover {
    background-color: #23272b;
  }
}